In [9]:
from garmin_initialisation import garmin_initilise
import pandas as pd
from datetime import datetime, timedelta

In [10]:
DATE = '2025-01-01'
DATE2 = '2025-01-10'

In [11]:
GARMIN = garmin_initilise()

In [12]:
df = pd.DataFrame(GARMIN.get_stats(DATE))
df.head()

,userProfileId,totalKilocalories,activeKilocalories,bmrKilocalories,wellnessKilocalories,burnedKilocalories,consumedKilocalories,remainingKilocalories,totalSteps,netCalorieGoal,...,latestSpo2ReadingTimeGmt,latestSpo2ReadingTimeLocal,averageMonitoringEnvironmentAltitude,restingCaloriesFromActivity,avgWakingRespirationValue,highestRespirationValue,lowestRespirationValue,latestRespirationValue,latestRespirationTimeGMT,respirationAlgorithmVersion
typeId,114846541,2329.0,225.0,2104.0,2329.0,None,None,2329.0,3703,None,...,2025-01-01T07:54:00.0,2025-01-01T07:54:00.0,None,None,13.0,19.0,9.0,15.0,2025-01-01T16:14:00.0,100
typeKey,114846541,2329.0,225.0,2104.0,2329.0,None,None,2329.0,3703,None,...,2025-01-01T07:54:00.0,2025-01-01T07:54:00.0,None,None,13.0,19.0,9.0,15.0,2025-01-01T16:14:00.0,100

In [13]:
summary = pd.DataFrame(GARMIN.get_user_summary(DATE))
summary.head()

,userProfileId,totalKilocalories,activeKilocalories,bmrKilocalories,wellnessKilocalories,burnedKilocalories,consumedKilocalories,remainingKilocalories,totalSteps,netCalorieGoal,...,latestSpo2ReadingTimeGmt,latestSpo2ReadingTimeLocal,averageMonitoringEnvironmentAltitude,restingCaloriesFromActivity,avgWakingRespirationValue,highestRespirationValue,lowestRespirationValue,latestRespirationValue,latestRespirationTimeGMT,respirationAlgorithmVersion
typeId,114846541,2329.0,225.0,2104.0,2329.0,None,None,2329.0,3703,None,...,2025-01-01T07:54:00.0,2025-01-01T07:54:00.0,None,None,13.0,19.0,9.0,15.0,2025-01-01T16:14:00.0,100
typeKey,114846541,2329.0,225.0,2104.0,2329.0,None,None,2329.0,3703,None,...,2025-01-01T07:54:00.0,2025-01-01T07:54:00.0,None,None,13.0,19.0,9.0,15.0,2025-01-01T16:14:00.0,100

In [14]:
battery = pd.DataFrame(GARMIN.get_body_battery(startdate=DATE,enddate=DATE2))
battery.head()

,date,charged,drained,startTimestampGMT,endTimestampGMT,startTimestampLocal,endTimestampLocal,bodyBatteryValuesArray,bodyBatteryValueDescriptorDTOList
0,2025-01-01,23.0,13.0,2025-01-01T00:00:00.0,2025-01-02T00:00:00.0,2025-01-01T00:00:00.0,2025-01-02T00:00:00.0,"[[1735697340000, 5], [1735716960000, 20], [173...","[{'bodyBatteryValueDescriptorIndex': 0, 'bodyB..."
1,2025-01-02,5.0,52.0,2025-01-02T00:00:00.0,2025-01-03T00:00:00.0,2025-01-02T00:00:00.0,2025-01-03T00:00:00.0,"[[1735804620000, None], [1735804620000, None],...","[{'bodyBatteryValueDescriptorIndex': 0, 'bodyB..."
2,2025-01-03,65.0,60.0,2025-01-03T00:00:00.0,2025-01-04T00:00:00.0,2025-01-03T00:00:00.0,2025-01-04T00:00:00.0,"[[1735862400000, 37], [1735885800000, 100], [1...","[{'bodyBatteryValueDescriptorIndex': 0, 'bodyB..."
3,2025-01-04,53.0,68.0,2025-01-04T00:00:00.0,2025-01-05T00:00:00.0,2025-01-04T00:00:00.0,2025-01-05T00:00:00.0,"[[1735948800000, 42], [1735977060000, 88], [17...","[{'bodyBatteryValueDescriptorIndex': 0, 'bodyB..."
4,2025-01-05,54.0,17.0,2025-01-05T00:00:00.0,2025-01-06T00:00:00.0,2025-01-05T00:00:00.0,2025-01-06T00:00:00.0,"[[1736037720000, 26], [1736063460000, 75], [17...","[{'bodyBatteryValueDescriptorIndex': 0, 'bodyB..."

In [15]:
battery['bodyBatteryValuesArray'][0]

[[1735697340000, 5],
 [1735716960000, 20],
 [1735718400000, 20],
 [1735734960000, 28],
 [1735747200000, 23],
 [1735747200000, 23]]

In [16]:
endurance = GARMIN.get_endurance_score(startdate='2025-01-17')
print(endurance)

None

In [20]:
pred = pd.DataFrame(GARMIN.get_race_predictions(startdate=DATE,enddate=DATE2,_type='daily'))
pred[['time5K', 'time10K', 'timeHalfMarathon', 'timeMarathon']]/=60
pred.head()

,userId,fromCalendarDate,toCalendarDate,calendarDate,time5K,time10K,timeHalfMarathon,timeMarathon
0,114846541,2025-01-01,2025-01-10,2025-01-01,21.816667,48.083333,112.300000,254.783333
1,114846541,2025-01-01,2025-01-10,2025-01-02,21.966667,48.383333,113.000000,256.283333
2,114846541,2025-01-01,2025-01-10,2025-01-03,21.966667,48.383333,113.000000,256.283333
3,114846541,2025-01-01,2025-01-10,2025-01-04,21.966667,48.383333,113.000000,256.283333
4,114846541,2025-01-01,2025-01-10,2025-01-05,21.966667,48.400000,113.016667,256.316667